@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Noto+Serif+SC&display=swap');

/*************************
 	global configuration
 *************************/
:root {
	--mobile-device-width: 960px;
	--content-width: 60vw;
	--border-light-gray: #ddd;
	--text-light-gray: #9e9e9e;
}

* {
	-webkit-transition: all .2s;
	transition: all .3s ease;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: max(var(--content-width), var(--mobile-device-width));
	padding: 0;
	margin: auto;
	line-height: 1.7;
	font-family: 'Noto Serif SC', 'Noto Serif CJK SC', 'Merriweather', 'Songti SC', serif;
}

code {
	font-family: Consolas, Courier, "Courier New", 'STKaiti', 'KaiTi', 'SimKai', monospace;
}

/* Code */

pre,
code {
	font-size: .9em;
}

pre code {
	display: block;
	border: 1px solid #ddd;
	box-shadow: 5px 5px 5px #eee;
	padding: 1em;
	overflow-x: auto;
	line-height: 1.75;
}

code {
	background: #f9f9f9;
}

pre code {
	background: none;
}

pre .nohighlight {
	background-color: transparent;
}

pre:hover {
	white-space: pre-wrap;
	word-break: break-all;
}

.hljs-comment {
	font-style: inherit;
}

.hljs {
	padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: none;
}

a:hover {
	border-bottom: 2px solid var(--text-light-gray);
}

/* resize image size when viewport change */
img {
	max-width: 100%;
	margin: auto;
	border-radius: 10%;

}


/*******************************
	masthead configuration
*******************************/
.masthead {
	position: sticky;
	top: 0;
	height: 200px;
	width: inherit;
	max-width: var(--mobile-device-width);
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-bottom: 2px solid var(--border-light-gray);
	z-index: 1;
}

/* round website logo */
#masthead>h1>a>img {
	border-radius: 50%;
	filter: grayscale(10%);
}

/* make some space between top */
#masthead>h1 {
	margin: 10px 0;
	height: 100px;
}

/* hide masthead when scroll down */
.masthead.hide {
	top: -120px;
}

/* show masthead when hover */
.masthead:hover {
	top: 0;
}

/* configure menu items */
nav>ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

nav>ul li {
	display: inline;
}

/* set default direction for menu items */
.masthead .menu {
	direction: ltr;
	font-weight: bold;
}

.menu ul {
	padding-left: 0;
}


/************************
main content configuration
*************************/
.main {
	padding: 0;
	height: inherit;
	hyphens: auto;
	margin: 0;
	/* width: inherit; */
	max-width: 800px;
	min-height: calc(100vh - 20%);
	border: none;
}

.main a {
	border-bottom: 2px solid var(--text-light-gray);
}

/* remove border of post item,copyright and nav item */
.post-item a,
.tag-cloud-item a,
.anchor a,
.tag-item {
	border-bottom: none;
}

.post-item a:hover {
	border-bottom: 2px solid var(--text-light-gray);
}




/* post items configuration */
.main ul {
	padding-left: 3em;
}

.featured-list,
.post-list,
.terms {
	list-style: none;
	/* margin-left: 30%; */
	margin: auto;
	/* display: flex;
	flex-direction: column;
	justify-content: center; */
}

.featured ul,
.post ul {
	padding-left: 0%;
}

.date {
	padding-right: 10px;
	color: var(--text-light-gray);
}


/* add space to top and bottom for title */
.main .title h1 {
	margin: 20px 0;
}



/*-----------------------------------------
    			footer  
 -----------------------------------------*/

/* beautify article divider line */
.article-end {
	text-align: center;
	font-style: italic;
	font-family: 'Merriweather';
	margin: 40px 0;
}

.article-divider {
	display: inline-block;
	border-top: 2px solid var(--border-light-gray);
	width: calc(max(var(--content-width), var(--mobile-device-width))/2 - 4ch);
	max-width: calc(var(--mobile-device-width)/2 - 4ch);
	vertical-align: 5px;
}

footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 60vw;
	/* margin: 10px 40px; */
	/* width: max(var(--content-width), var(--mobile-device-width)); */
	/* align-items: center; */
}

.post-nav {
	display: flex;
	justify-content: space-around;
	font-weight: bold;
	flex-wrap: wrap;
}

.copyright {
	text-align: center;
	margin: 40px 0;
}

/* add beautiful blockquote */
blockquote {
	margin: 1em auto;
	padding: 0 2em;
	border-left: 5px solid var(--text-light-gray);
	font-style: italic;
}

blockquote::before {
	content: open-quote;
	color: var(--text-light-gray);
	font-size: 5rem;
	display: block;
	margin-bottom: -10%;
}

blockquote::after {
	display: block;
	content: close-quote;
	color: var(--text-light-gray);
	height: 5vh;
	font-size: 5rem;
	margin-left: 95%;
	margin-top: -5%
}

blockquote p {
	text-align: center;
}


/* tag cloud and tag item of page */
#tag-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

#tag-wrapper>span {
	font-size: 40px;
	font-family: 'Merriweather';
}

.tag-item {
	background-color: #ddd;
	margin: 0 5px;
	font-style: italic;
	border-radius: 20%;
	white-space: nowrap;
}

.tag-item::before {
	/* content: url(../images/tag.svg); */
	content: "#";
	display: inline-block;
	font-size: medium;
	font-weight: lighter;
}

header>h3>a>span {
	font-size: .8em;
	font-weight: lighter;
}

/*------------------------------------------------------------------------
	set indent for paragraphs, but exclude paragraphs inside list items.
-------------------------------------------------------------------------*/
p {
	text-indent: 2em;
}

li>p:nth-child(1) {
	text-indent: 0 !important;
}

@media screen and (max-width: 960px) {
	body {
		width: auto;
	}

	.masthead {
		margin: 20px 0 0 0;
		width: 100%;
		height: 10%;
	}

	.masthead.hide {
		top: -200px;
	}

	.masthead .menu {
		margin: 0;
	}

	nav>ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 10px;
	}

	nav>ul li {
		display: inline;
	}


	.masthead .menu li {
		border-bottom: none;
	}

	.masthead .menu li:first-child {
		border-top: none;
	}

	.masthead .menu a {
		padding: 0;
	}

	.featured-list,
	.post-list,
	.terms {
		list-style: none;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.main {
		/* width: 100%; */
		margin: 0 3%;
	}

	.article-divider {
		display: inline-block;
		border-top: 2px solid var(--border-light-gray);
		width: 40vw;
		vertical-align: 5px;
	}

	footer {
		width: 90%;
	}

}


@media screen and (max-width: 480px) {
	.article-divider {
		display: inline-block;
		border-top: 2px solid var(--border-light-gray);
		width: 20%;
		max-width: 100px;
		vertical-align: 5px;
	}

	.featured-list,
	.post-list,
	.terms {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
	}

	.main ul {
		padding-left: 2em;
	}

	.post ul,
	.featured ul {
		padding-left: 0;
	}

	.hide {
		top: -260px !important;
	}

	.article-divider {
		display: inline-block;
		border-top: 2px solid var(--border-light-gray);
		width: 20vw;
		vertical-align: 5px;
	}
}
